{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "react/jsx-space-before-closing": ["error", "always"],
    "one-var": ["error", "never"],
    "eqeqeq": ["error", "smart"]
  },
  "plugins": [
    "react"
  ]
}
